@import "variables.scss";


header{
    background: white;
    
    

    .loggacontainer{
        display: flex;
        background: $primaryColor;
        height: 30vh;
        width: 100vw;
        justify-content: center;
        align-items: center;

    }

    .topnav{
        a{
            display: flex;
            color: $primaryColor;
            margin-top: 20px;
            text-decoration: none;
            font-size: 30px;
            font-weight: 700;
            
        }

        .myLinks{
            display: flex;
            justify-content: space-around;

        }
    }

    .logga-header{
        height: 70%;
        

    }


}

h1{
    text-align: center;
}

button{
    padding: 20px 50px;
    font-size: 20px;
    color: $secondaryFontColor;
    background-color: rgb(67, 67, 67);
    border: none;
    font-weight: 700;
    border-radius: 20px;
}


footer{
    background: $primaryColor;
    height: 30vh;
    width: 100vw;

    .footerInfo{
        color: $secondaryFontColor;
        font-size: 25px;
        text-align: center;
        line-height: 0.5;
    }

    .footermedia{
        text-align: center;
    }
}