@import "variables.scss";
@import "mixins.scss";


header{  
    .header-container{
        display: flex;
        background: $primaryColor;
        height: 30vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    .topnav{
        a{
            display: flex;
            justify-content: center;
            color: $primaryFontColor;
            margin: 5% 0;
            text-decoration: none;
            font-weight: 700;

            .topnav-home-icon{
                width: 50%;
            }

            @media (min-width: 391px){
                margin: 2% 0;
            }
            
        }

        a:hover {
          color: $primaryColor;
        }

        .topnav-links{
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            @media (min-width: 391px){
                background: $secondaryColor;
            }
        }
    }

    .header-logga-img{
        height: 110%;

    }
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media (min-width:391px){
       background-color: $secondaryColor;
    }
}

div.firstpage-welcome-box{
    width: 90vw;
    height: auto;
    background-color: $secondaryColor;
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 5%;

    @media (min-width:391px){
        width: 60vw;
        background-color: $thirdColor;
        margin-bottom: 1%;
    }


    p.firstpage-welcome-box-p{
        line-height: 1.4;
        padding: 0 2% 5% 2%;

        @media (min-width:391px){
            padding: 0 5% 3% 5%;
        }
    }
}

button{
    @include button-mobile ();

    @media (min-width:391px){
        @include button-desktop();
    }
}

.firstpage-img-chicken-and-mushroom{
    width: 90vw;

    @media (min-width:391px){
        width: 60vw;
        height: 60vh;
        object-fit: cover;
    }
}

div.firstpage-openinghours-contact-container{
    display: flex;
    flex-direction: column;

    @media (min-width:391px){
        flex-direction: row;
        
    }

    div.firstpage-openinghours{
        background: $secondaryColor;
        width: 90vw;
        text-align: center;
        margin: 20px 0;

        @media (min-width:391px){
            width: 30vw;
            background-color: $thirdColor;
            margin: 2% 2% 2% 0%;
        }

        
        p.firstpage-openinghours-p{
            line-height: 0.8;
        }
    }

    div.firstpage-contactinfo{
        background: $secondaryColor;
        width: 90vw;
        text-align: center;
        margin-bottom: 5%;

        @media (min-width:391px){
            width: 30vw;
            background-color: $thirdColor;
            margin: 2% 0% 2% 2%;
        }

        p.firstpage-contactinfo-p{
            line-height: 0.8;
        }
        
        
    }
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $primaryColor;
    width: 100vw;


    .footer-logga-img{
        width: 40%;

        @media (min-width:391px){
            width: 8%;
         }

    }

    p.footer-contactinfo-p{
            text-align: center;
            color: $secondaryFontColor;

            @media (min-width:391px){
                color: $secondaryFontColor;
                font-size: 0.7rem;
                line-height: 0.5;
             }
    }
    
    p.footer-copyright-text{
            text-align: center;
            color: $secondaryFontColor;
            font-size: 0.7rem;

            @media (min-width:391px){
                color: $secondaryFontColor;
                font-size: 0.6rem;
             }
    }
 
    hr{
        border: 0.001rem solid $secondaryColor;
        width: 40%;
    }

    }
