@import "variables.scss";
@import "mixins.scss";


header{  
    .loggacontainer{
        display: flex;
        background: $primaryColor;
        height: 25vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    .topnav{
        a{
            display: flex;
            color: $primaryFontColor;
            margin-top: 20px;
            text-decoration: none;
            font-size: 25px;
            font-weight: 700;
            
        }

        .myLinks{
            display: flex;
            justify-content: space-evenly;
        }
    }

    .logga-header{
        height: 110%;

    }
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.welcomeText{
    width: 90vw;
    height: auto;
    background-color: $secondaryColor;
    text-align: center;
    margin: 20px 0;
    padding: 20px 0px;

    h1{
        font-family: $primaryFont;
    }

    h2{
        font-size: 18px;
        font-weight: 400;
    }
}

button{
    @include button-mobile ();
}

.chicken-and-mushroom{
    width: 90vw;
}

div.openhoursKim-Chi{
    background: $secondaryColor;
    width: 90vw;
    text-align: center;
    margin: 20px 0;
    
    p{
        font-size: 18px;
        line-height: 0.8;
    }
}

div.firstpage-contactKim-Chi{
    background: $secondaryColor;
    width: 90vw;
    text-align: center;
    

    p{
        font-size: 18px;
        line-height: 0.8;
    }
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $primaryColor;
    margin-top: 20px;
    width: 100vw;

    p{
        color: $secondaryFontColor;
        font-size: 15px;
        text-align: center;
        padding-bottom: 10px;
    }

    @media (min-width: 391px){
        height: 30vh;
    }

    .imgfooter{
        width: 40%;

    }

    .footerInfo{
        color: $secondaryFontColor;
        font-size: 20px;
        text-align: center;
        line-height: 0.5;
    
    }

    
}
hr{
    border: 1px solid white;
    width: 40%;
}