$primaryColor:  #F0669E;
$secondaryColor: #f4f4f4;
$thirdColor: #ffffff;

$primaryFont: "Montserrat", sans-serif;
$secondaryFont: "Arial", sans-serif;

$primaryFontColor:black;
$secondaryFontColor: white;