$primaryColor:  #F0669E;
$secondaryColor: #f4f4f4;
$thirdColor: #ffffff;
$gradientColor: rgb(245,245,131) linear-gradient(176deg, rgba(245,245,131,1) 0%, rgba(233,108,247,1) 100%);

$primaryFont: "Montserrat", sans-serif;
$secondaryFont: "Arial", sans-serif;
$menuspecialfont:"Londrina Sketch";

$primaryFontColor:black;
$secondaryFontColor: white;