header .loggacontainer {
  display: flex;
  background: #F0669E;
  height: 25vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
header .topnav a {
  display: flex;
  color: black;
  margin-top: 20px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
}
header .topnav .myLinks {
  display: flex;
  justify-content: space-evenly;
}
header .logga-header {
  height: 110%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

div.welcomeText {
  width: 90vw;
  height: auto;
  background-color: #e0e0e0;
  text-align: center;
  margin: 20px 0;
  padding: 20px 0px;
}
div.welcomeText h1 {
  font-family: "Montserrat", sans-serif;
}
div.welcomeText h2 {
  font-size: 20px;
  font-weight: 400;
}

button {
  padding: 15px 40px;
  font-size: 15px;
  color: white;
  background-color: rgb(67, 67, 67);
  border: none;
  font-weight: 700;
  border-radius: 20px;
}

.chicken-and-mushroom {
  width: 90vw;
}

div.openhoursKim-Chi {
  background: #e0e0e0;
  width: 90vw;
  text-align: center;
  margin: 20px 0;
}
div.openhoursKim-Chi p {
  font-size: 18px;
  line-height: 0.8;
}

div.firstpage-contactKim-Chi {
  background: #e0e0e0;
  width: 90vw;
  text-align: center;
}
div.firstpage-contactKim-Chi p {
  font-size: 18px;
  line-height: 0.8;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F0669E;
  margin-top: 20px;
  width: 100vw;
}
footer .footerInfo {
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 0.5;
}

body {
  margin: 0;
}

.styleBox {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
.styleBox .contact {
  color: rgb(255, 243, 7);
  text-align: center;
  margin-top: 35px;
}
.styleBox .second, .styleBox .info {
  text-align: center;
  margin: 20px;
}

.box {
  background-color: #e0e0e0;
}

.formContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.formContact .namn, .formContact .mail {
  width: 600px;
  height: 60px;
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
  background: local;
}
.formContact .message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.formContact .message textarea {
  width: 600px;
  height: 35px;
  margin-right: 20px;
  padding: 10px;
  border: 2px solid white;
}
.formContact .message input[type=submit] {
  font-size: 16px;
  color: black;
  padding: 15px;
  width: 150px;
  border: 2px solid white;
  cursor: pointer;
}
.formContact .message input[type=submit]:hover {
  background-color: #ee4f8f;
}
.formContact::-moz-placeholder {
  color: black;
  font-size: medium;
}
.formContact::placeholder {
  color: black;
  font-size: medium;
}

.google-map {
  display: flex;
  justify-content: center;
  align-content: center;
  height: auto;
  margin: 25px;
}
.google-map iframe {
  width: 600px;
  height: 300px;
  border: none;
}

@media (min-width: 768px) {
  .formContact {
    flex-direction: row;
  }
  .formContact .message {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .formContact .namn, .formContact .mail {
    width: 600px;
  }
  .formContact .message textarea {
    width: 600px;
  }
}
body {
  margin: 0%;
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=main.css.map */