header .header-container {
  display: flex;
  background: #F0669E;
  height: 30vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
header .topnav a {
  display: flex;
  color: black;
  margin: 5% 0;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 391px) {
  header .topnav a {
    font-size: 0.8rem;
    margin: 2% 0;
  }
}
header .topnav a:hover {
  text-decoration: underline;
}
@media (min-width: 391px) {
  header .topnav a:hover {
    text-decoration: underline;
  }
}
header .topnav .topnav-links {
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 391px) {
  header .topnav .topnav-links {
    background: #f4f4f4;
  }
}
header .header-logga-img {
  height: 110%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 391px) {
  main {
    background-color: #f4f4f4;
  }
}

div.firstpage-welcome-box {
  width: 90vw;
  height: auto;
  background-color: #f4f4f4;
  text-align: center;
  padding: 20px 0px;
  margin-bottom: 5%;
}
@media (min-width: 391px) {
  div.firstpage-welcome-box {
    width: 60vw;
    background-color: #ffffff;
    margin-bottom: 1%;
  }
}
div.firstpage-welcome-box h1.firstpage-welcome-box-h1 {
  font-size: 1.5rem;
}
@media (min-width: 391px) {
  div.firstpage-welcome-box h1.firstpage-welcome-box-h1 {
    font-size: 1.5rem;
  }
}
div.firstpage-welcome-box h2.firstpage-welcome-box-h2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  padding: 0 2% 5% 2%;
}
@media (min-width: 391px) {
  div.firstpage-welcome-box h2.firstpage-welcome-box-h2 {
    font-size: 0.6rem;
    padding: 0 5% 3% 5%;
  }
}

button {
  padding: 15px 40px;
  font-size: 15px;
  color: white;
  background-color: rgb(67, 67, 67);
  border: none;
  font-weight: 700;
  border-radius: 20px;
}
@media (min-width: 391px) {
  button {
    padding: 8px 20px;
    font-size: 10px;
    color: white;
    background-color: rgb(67, 67, 67);
    border: none;
    font-weight: 700;
    border-radius: 20px;
  }
}

.firstpage-img-chicken-and-mushroom {
  width: 90vw;
}
@media (min-width: 391px) {
  .firstpage-img-chicken-and-mushroom {
    width: 60vw;
    height: 60vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

div.firstpage-openinghours-contact-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 391px) {
  div.firstpage-openinghours-contact-container {
    flex-direction: row;
  }
}
div.firstpage-openinghours-contact-container div.firstpage-openinghours {
  background: #f4f4f4;
  width: 90vw;
  text-align: center;
  margin: 20px 0;
}
@media (min-width: 391px) {
  div.firstpage-openinghours-contact-container div.firstpage-openinghours {
    width: 30vw;
    background-color: #ffffff;
    margin: 2% 2% 2% 0%;
  }
}
div.firstpage-openinghours-contact-container div.firstpage-openinghours .firstpage-openinghours-h2 {
  font-size: 1.2rem;
}
@media (min-width: 391px) {
  div.firstpage-openinghours-contact-container div.firstpage-openinghours .firstpage-openinghours-h2 {
    font-size: 1rem;
  }
}
div.firstpage-openinghours-contact-container div.firstpage-openinghours p.firstpage-openinghours-p {
  font-size: 1.2rem;
  line-height: 0.8;
}
@media (min-width: 391px) {
  div.firstpage-openinghours-contact-container div.firstpage-openinghours p.firstpage-openinghours-p {
    font-size: 0.6rem;
  }
}
div.firstpage-openinghours-contact-container div.firstpage-contactinfo {
  background: #f4f4f4;
  width: 90vw;
  text-align: center;
  margin-bottom: 5%;
}
@media (min-width: 391px) {
  div.firstpage-openinghours-contact-container div.firstpage-contactinfo {
    width: 30vw;
    background-color: #ffffff;
    margin: 2% 0% 2% 2%;
  }
}
div.firstpage-openinghours-contact-container div.firstpage-contactinfo h2.firstpage-contactinfo-h2 {
  font-size: 1.2rem;
}
@media (min-width: 391px) {
  div.firstpage-openinghours-contact-container div.firstpage-contactinfo h2.firstpage-contactinfo-h2 {
    font-size: 1rem;
  }
}
div.firstpage-openinghours-contact-container div.firstpage-contactinfo p.firstpage-contactinfo-p {
  font-size: 1.2rem;
  line-height: 0.8;
}
@media (min-width: 391px) {
  div.firstpage-openinghours-contact-container div.firstpage-contactinfo p.firstpage-contactinfo-p {
    font-size: 0.6rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F0669E;
  width: 100vw;
}
@media (min-width: 391px) {
  footer {
    height: 40vh;
  }
}
footer .footer-logga-img {
  width: 40%;
}
@media (min-width: 391px) {
  footer .footer-logga-img {
    width: 8%;
  }
}
footer p.footer-contactinfo-p {
  text-align: center;
  color: white;
}
@media (min-width: 391px) {
  footer p.footer-contactinfo-p {
    color: white;
    font-size: 0.5rem;
    line-height: 0.5;
  }
}
footer p.footer-copyright-text {
  text-align: center;
  color: white;
  font-size: 0.7rem;
}
@media (min-width: 391px) {
  footer p.footer-copyright-text {
    color: white;
    font-size: 0.4rem;
    line-height: 0;
  }
}
footer hr {
  border: 0.001rem solid white;
  width: 40%;
}

body {
  margin: 0%;
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=main.css.map */