@import "variables.scss";
@import "firstpage.scss";
@import "mixins.scss";

body{
    margin: 0%;
    font-family: $primaryFont;

    @media (min-width:391px){
        background: $secondaryColor;
    }
}