@import "../variables";
@import "../mixins";
@import "../firstpage";


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; 
    border: 0;
}

.contactBody {
    font-family: $primaryFont;
    background:$thirdColor;
    margin: 0;
    padding: 0;

    @media (min-width:391px){
        background: $secondaryColor; 
        width: 60wv;
        margin: 0;
     }
}

.contactMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    

    @media (min-width:391px){
        background:$secondaryColor;
        
    }
}


.contactIntroduction {
    background-color: $secondaryColor;
    width: 60;
    
    
    @media (min-width:391px){
        background: $thirdColor;
        width: 60vw;
        margin-bottom: 1%;

        
    }
    
    text-align: center;
    margin-bottom: 30px;

    h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    p {
        font-size: 1rem;
        line-height: 0,8;
        padding: 2%;
    }
}

.contactFormSection {
    width: 100%;
    max-width: 600px;
    background: $secondaryColor;


    @media (min-width:391px){
        background: $thirdColor;
        max-width: 60vw;
        
    }

    .contactForm {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        select{
            color: $primaryFontColor;
            font-family: $primaryFont;
            background-color: transparent;  
            appearance: none;  
            border: 1px solid $primaryFontColor;  
                }

        .formGroup {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            margin: 2%;

            input,
            select,
            textarea {
                padding: 10px;
                font-size: 1rem;    
                color: rgb(140, 140, 140);
                color: $primaryFontColor;

                &::placeholder {
                    color: black;
                    color: $primaryFontColor;
                    font-family: $primaryFont;
                }
            }

        }

        .submitButton {
            align-self: flex-end;
            margin: 5%;

            @include button-mobile();

            @media (min-width:391px){
                @include button-desktop();
            }
        }
    }
}

.contactInfo {
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
    text-align: center;
    background-color: $secondaryColor;
    margin: 5%;
    

    @media (min-width: 391px) {
        max-width: 60vw;
        background-color: $thirdColor;
        line-height: 0,8%;
    }
}


.imageKimChi{

    max-width: 60vw;
    margin-bottom: 30px;
    object-fit: cover;

    img{
        width: 60vw;
        height: 60vh;
        object-fit: cover;
    
    }
}

.googleMap {
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;

    iframe {
        width: 100%;
        height: 300px;
        border: none;
        border-radius: 10px;
    }
}

.additionalInfo {
    max-width: 600px;
    background-color: $secondaryColor;
    text-align: center;
    padding: 0 10px;

    p {
        font-size: 1rem;
        line-height: 1.6;
    }
    @media (min-width:391px){
        max-width: 60vw;
        background-color: $thirdColor;
        margin-bottom: 0,5%;
        
    }
}


@media (min-width: 768px) {
    .contactMain {
        padding: 40px;
    }

    .contactIntroduction,
    .contactFormSection,
    .contactInfo,
    .googleMap,
    .additionalInfo {
        margin-bottom: 40px;
    }

    .contactHeader h1 {
        font-size: 2.5rem;
    }

    .contactIntroduction h2 {
        font-size: 2rem;
    }

    .contactIntroduction p,
    .additionalInfo p {
        font-size: 1.1rem;
    }

    .contactFormSection .contactForm {
        .formGroup {
            input,
            select,
            textarea {
                font-size: 1.1rem;
            }
        }

        .submitButton {
            font-size: 1.1rem;
            padding: 15px 50px;
        }
    }

    .contactInfo h2 {
        font-size: 2rem;
    }

    .contactInfo ul li {
        font-size: 1.1rem;
    }
}
