@import "../mixins";
@import "../variables";
@import "../firstpage";

body{
    margin: 0;
    font-family:$primaryFont;

    @media (min-width:786px){
        background: $secondaryColor;
    }

    main{

        @media (min-width:786px){
            background: $secondaryColor;
        }

        article.boka-bord-img-text-container{
            background: $secondaryColor;
            width: 90vw;

            @media (min-width:786px){
            width: 60vw;
            background: $thirdColor;
            }

           .boka-bord-firstbox-center{
            text-align: center;
            padding: 2%;
           }

            img.boka-bord-img-matsal{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 70vw;

                @media (min-width:786px){
                    width: 40vw;
                }
            }
        }

        form{
            display: flex;
            flex-direction: column;
            background: $secondaryColor;
            width: 90vw;
            margin-top: 2rem;

            ::placeholder{
                color: $primaryFontColor;
            }

            @media (min-width:786px){
                background-color: $thirdColor;
                width: 60vw;
                }

            input{
                margin: 2%;
                padding: 10px;
                font-size: 1rem;

                @media (min-width:786px){
                margin: 1%;
                padding: 1%;
                }
            }
        
            .input-kommentar{
                height: 10vh ;
            }

            div.container-datum-tid{
                display: flex;
                justify-content: space-between;

                .input-tid{
                    width: 35vw;
                }
                .input-datum{
                    width: 35vw;
                }
            }

            .submit-bokabord{
                align-self: flex-end;
                margin-top: 5%;

                @include button-mobile ();
            
                @media (min-width:786px){
                    @include button-desktop();
                }
            }
        }
    }
}