@import "../mixins";
@import "../variables";
@import "../firstpage";

body{
    margin: 0%;
    font-family: $primaryFont;

    @media (min-width:391px){
        background: $secondaryColor;
    }
}

main{
    background: $thirdColor;
    height: 100%;
    @include flex(column,flex-start,center);
    @media (min-width:391px){
        background: $secondaryColor;
    }

    .first-betyg-container{
        width: 90vw;
        background-color: $secondaryColor;
        @include margin(0.9rem,0.9rem);
        @include flex(column,center,center);
            p{
            padding: 2%;
            text-align: center;
            }

        @media (min-width:391px){
            width: 60vw;
            background: $thirdColor;
         }
    }

    .betyg-container{
        width: 90vw;
        background-color: $secondaryColor;
        @include margin(0.9rem,0.9rem);
        @include flex(row,center,flex-start);
       

        @media (min-width:391px){
            width: 60vw;
            background: $thirdColor;
         }

        .img-kimchi{
            width: 90%;
            height: 60%;
        

            @media (min-width:391px){
                width: 100%;
                height: 50vh;
                object-fit: cover;
             }
        }

        .img-star{
            width: 100%;

            @media (min-width:391px){
                width: 60%;
             }
        }
        .img-person{
            @include margin(1rem,1rem,0,1rem);
        }
        
        .container{
            @include flex(column,space-evenly,center);
            width: 80%;
            @include margin(0,0,0,1rem);

            .person{
                @include flex(row,space-evenly,center);
                

                .name-container{
                    @include flex(column,space-evenly,flex-start);
                }
            }

            .comment{
                text-align: center;
            }

            
        }

    }
}