@import "../mixins";
@import "../variables";

body{
    margin: 0%;
    font-family: $primaryFont;
}

body{
    margin: 0%;
    font-family: $primaryFont;
}

main{
    background:white;
    height: 100%;
    @include flex(column,flex-start,center);

    .betyg-container{
        width: 90%;
        @include margin(20px);
        @include flex(row,center,center);

        @media (min-width:391px){
            width: 40%;
         }
      
        
        .container{
            @include flex(column,space-between,space-evenly);
            width: 80%;
            @include margin(0,0,0,1rem);
            @include border(4px,dotted,$primaryColor);
            background-color: $secondaryColor;


            #specialfont{
             font-family: $menuspecialfont;
             color: $primaryColor;
            }

            .menu-container {
                @include flex(row,space-between);
            }

            .person{
                @include flex(row,flex-end,flex-end);
            }

           

            
        }

    }
}