$primaryColor:  #F0669E;
$secondaryColor: white;

$primaryFont: "Montserrat", sans-serif;
$secondaryFont: "arial";
$menuspecialfont:"Londrina Sketch";

$primaryFontColor:black;
$secondaryFontColor: white;