@import "../mixins";
@import "../variables";
@import "../firstpage";

body{
    margin: 0%;
    font-family: $primaryFont;
}

main{
    background:$thirdColor;
    height: 100%;
    @include flex(column,flex-start,center);

    @media (min-width:391px){
        background: $secondaryColor;
    }

        #first-container{
            @include border(4px,dotted,$primaryColor);
        }

        #second-container{
            @include border(5px,double,$primaryColor);
        }


    .menu-container{
        width: 90%;
        background: $secondaryColor;
        @include margin(0.9rem,0.9rem);
        @include flex(row,space-between,center);

        @media (min-width:391px){
            width: 40%;
            background: $thirdColor;
         }
      
        
        .container{
            @include flex(column,space-between,space-evenly);
            width: 80%;
            @include margin(0,0,0,1rem);

            #specialfont{
             font-family: $menuspecialfont;
             color: $primaryColor;
            }

            .menu-container {
                @include flex(row,space-between);
            }

            .h2{
                @include flex(row,flex-start);
            }

           

            .item{
                @include flex(row, space-between);
            }

            button{
                @include button-mobile;

                @media (min-width:391px){
                    width: 40%;
                    @include button-desktop;
                 }
            }
        }

    }
}